<div class="page-content wrapper-content">
	<div class="row">
		<form class="form-horizontal" method="post" id="office-user-form" action="${ctxPath}/sys/user/save">		
			<input type="hidden" name="status" value="1">
			<div class="form-group">
				<label  class="col-lg-2 control-label">用户名</label>
				<div class="col-lg-9">
					<input name="username"  class="form-control"  placeholder="请输入用户名">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">密码</label>
				<div class="col-lg-9">
					<input type="password" name="password"  class="form-control"  placeholder="请输入用户密码">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">确认密码</label>
				<div class="col-lg-9">
					<input type="password" name="confirmPassword" class="form-control"  placeholder="请输入确认密码">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">姓名</label>
				<div class="col-lg-9">
					<input name="name"  class="form-control"  placeholder="请输入姓名">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">性别</label>
				<div class="col-lg-9">
					<input name="sex" type="radio"  class=""  value="1">男
					<input name="sex" type="radio"  class=""  value="0">女
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">所属单位</label>
				<div class="col-lg-9">
					<#select name="unitId" id="unitId-form" placeholder="请选择单位类型">
						<option value=""></option>
						@for(item in sysOffices){
							<option value="${item.id!}">${item.name!}</option>
						@}
					</#select>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label" >邮箱</label>
				<div class="col-lg-9">
					<input name="email"  class="form-control"  placeholder="请输入邮箱">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">手机</label>
				<div class="col-lg-9">
					<input name="mobile"  class="form-control"  placeholder="请输入手机">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">电话</label>
				<div class="col-lg-9">
					<input name="phone"  class="form-control"  placeholder="请输入电话号码">
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">角色</label>
				<div class="col-lg-9">
					<select name="roleIds" multiple class="chosen-select tag-input-style" id="user-role-update" data-placeholder="选择角色">
						@for(entry in rolesMap){
							@var key = entry.key,role=entry.value;
							<option value="${role.id!}" 
								@if(!isEmpty(findUserRoleMap[key])){
									selected
								@}
							>
							${role.name!}
							</option>
						@}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label  class="col-lg-2 control-label">备注</label>
				<div class="col-lg-9">
					<textarea name="remarks" class="autosize-transition form-control "
					style="resize: none;"></textarea>
				</div>
			</div>
		</form>
	</div>
</div>


<script type="text/javascript">
	$(function(){
	   
	   $('#office-user-form')
        .bootstrapValidator({
            fields: {
                username: {
                    message: '用户名没有校验',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 100,
                            message: '用户名不能超过100个字符'
                        },
                        remote:{
                        	message:'用户名已被占用',
                        	delay:500,
                        	url:"${ctxPath}/sys/user/check/username"
                        }
                    }
                },
                password: {
                    message: '密码没有校验',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
	                    different: {
	                        field: 'username',
	                        message: '密码不能和用户名相同'
	                    },
                        @if(appConf.get("PWD_STRONG_VERIFCATION") == "1"){
                        regexp:{
                        	regexp:/^(?![0-9]+$)(?![a-zA-Z]+$)[\w\W]{6,16}$/,
                        	message:'密码至少包含一个字母和一个数字'
                        },
                        @}
                        stringLength: {
                            min: 6,
                            max: 100,
                            message: '密码在6-100个字符间（包括6和100）'
                        }
                    }
                },
                confirmPassword: {
	                validators: {
	                    notEmpty: {
	                        message: '请输入确认密码'
	                    },
	                    identical: {
	                        field: 'password',
	                        message: '两次输入的密码不一样'
	                    },
	                    different: {
	                        field: 'username',
	                        message: '密码不能和用户名相同'
	                    },
	                    @if(appConf.get("PWD_STRONG_VERIFCATION") == "1"){
                        regexp:{
                        	regexp:/^(?![0-9]+$)(?![a-zA-Z]+$)[\w\W]{6,16}$/,
                        	message:'密码至少包含一个字母和一个数字'
                        },
                        @}
                        stringLength: {
                            min: 6,
                            max: 100,
                            message: '密码在6-100个字符间（包括6和100）'
                        }
	                }
	            },
                name: {
                    message: '姓名没有校验',
                    validators: {
                        notEmpty: {
                            message: '姓名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 100,
                            message: '姓名至少两个字符'
                        }
                    }
                },
                email: {
	               validators: {
	                   emailAddress: {
	                       message: '请输入正确的电子邮箱地址'
	                   }
	               }
	           }
            }
        })
        .on('success.form.bv', function(e) {
            e.preventDefault();
            $(e.target).ajaxSubmit(function(data){
				if(data > 0){
					msg.success("保存成功");
					query();
				}
				BootstrapDialog.closeAll();
		    })
        });
	});
	
	function saveBtnClick(){
		 $('#office-user-form').data('bootstrapValidator').validate();
	}
	
	$("#user-role-update").chosen({width: "100%",search_contains: true}); 
</script>