<div class="wrapper-content"> 
	<div class="row">
		<div class="col-lg-12">
			<table  class="table table-bordered table-striped  width-100">
				<thead>
					<th width="100">属性</th>
					<th>值</th>
				</thead>
				<tbody>
					<tr>
						<td>ID</td>
						<td>${sysDict.id!}</td>
					</tr>
					<tr>
						<td>标签名</td>
						<td>${sysDict.label!}</td>
					</tr>
					<tr>
						<td>键值</td>
						<td>${sysDict.value!}</td>
					</tr>
					<tr>
						<td>类型</td>
						<td>${sysDict.type!}</td>
					</tr>
					<tr>
						<td>类型名称</td>
						<td>${sysDict.tname!}</td>
					</tr>
					<tr>
						<td>排序</td>
						<td>${sysDict.sort!}</td>
					</div>
					<tr>
						<td>描述</td>
						<td>${sysDict.description!}</td>
					</tr>
					<tr>
						<td>状态</td>
						<td>${decode(sysDict.status,'1','启用','禁用')}</td>
					</tr>
					<tr>
						<td>备注</td>
						<td>${sysDict.remarks!}</td>
					</tr>
					
					<tr>
						<td>创建者</div>
						<td>${sysDict.createBy!}</td>
					</tr>
					<tr>
						<td>创建时间</div>
						<td>
						@if(!isEmpty(sysDict.createDate)){
							${sysDict.createDate,"yyyy-MM-dd hh:mm:ss"}
						@}
						</td>
					</tr>
					<tr>
						<td>更新者</div>
						<td>${sysDict.updateBy!}</td>
					</tr>
					<tr>
						<td>更新时间</div>
						<td>
						@if(!isEmpty(sysDict.updateDate)){
							${sysDict.updateDate,"yyyy-MM-dd hh:mm:ss"}
						@}
						</td>
					</div>
				</tbody>
			</table>
		</div>
	</div>

</div>
