<!-- Main content -->
<section class="content" >
	<div class="row">
		<div class="col-lg-3"  id="tree-box">
			
		</div>
		<div class="col-lg-9">
			<div class="box box-primary">
			    <div class="box-header with-border">
			        <h5 id="op-title">菜单列表</h5>
			    </div>
			    <div  class="box-body" id="op-box">
			    	
			    </div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(function(){
		$("#tree-box").html(yh.loadHtmlByPost("sys/menu/left/menu",{select:0}));
		$("#op-box").html(yh.loadHtmlByPost("sys/menu/add",{pid:0}));
	})
</script>