<div class="row">
	<div class="col-lg-5 col-sm-offset-2">
    	<form class="form-horizontal" method="post" id="menu-form" action="${ctxPath}/sys/office/add/save">
    		 <input type="hidden" name="pid" value="${pid!0}" />
    		@for(m in menus){
    			<div class="form-group">
    				<input type="hidden" name="offices[${mLP.index}].id" class="form-control"  value="${m.id!}"/>
    				<input type="text"  maxlength="64"  name="offices[${mLP.index}].name" class="form-control"  value="${m.name!}"/>
    				<input type="hidden"   name="offices[${mLP.index}].oldName" class="form-control"  value="${m.name!}"/>
    			</div>
    		@}
    		@for(var i = menus.~size;i < menus.~size + 5; i ++){
    		
    			<div class="form-group">
    				<input type="hidden" name="offices[${i + 1}].id" class="form-control"  value=""/>
    				<input type="text"   maxlength="64"  name="offices[${i + 1}].name" class="form-control"  value="" placeholder="请输入单位名称"/>
    			</div>
    		@}
    		<div class="form-group">
                 <button type="button" id="save-btn" class="btn btn-primary btn-save">保存</button>
                 <button type="button"  data-mode='list-mng' data-url="${ctxPath}/sys/office"  id="save-btn" class="btn btn-default btn-return">返回</button>
            </div>
    	</form>
    </div>
</div>	

<script type="text/javascript">
	$("#save-btn").click(function(){
		$("#menu-form").ajaxSubmit(function(data){
			if(data > 0){
				msg.success("添加成功");
				success();
			}
		})
	})
	
	function success(){
		$("#tree-box").html(yunmel.helper.loadHtmlPageByPost("sys/office/left/office"));
		$("#op-box").html(yunmel.helper.loadHtmlPageByPost("sys/office/add"));
	}
	
		
</script>